<?xml version="1.0" encoding="UTF-8"?>

<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Handle History Mode and custom 404/500" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
    <staticContent>
      <clientCache cacheControlCustom="public" cacheControlMode="UseMaxAge" cacheControlMaxAge="00.00:00:00" />
    </staticContent>
        <httpProtocol>
      <customHeaders>
 	      <remove name="X-Powered-By" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains; preload" />
        <add name="X-Content-Type-Options" value="nosniff" />
	      <add name="X-XSS-Protection" value="1; mode=block"></add>
        <add name="Referrer-Policy" value="strict-origin" />
        <add name="X-UA-Compatible" value="IE=Edge" />
        <add name="Feature-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment *; usb 'none'" />
        <add name="Permissions-Policy" value="accelerometer 'none'; camera 'none'; geolocation 'none'; gyroscope 'none'; magnetometer 'none'; microphone 'none'; payment *; usb 'none'" />
        <add name="X-Frame-Options" value="SAMEORIGIN" />
        <add name="Content-Security-Policy" value="
          object-src 
            'none'
            ; 

          img-src 
            'self' 
            https: data:
            ;

          default-src 
            'unsafe-inline'
            'self'
            ;

          script-src
            'unsafe-inline'
            'self'
            ;
          
          script-src-elem
            'unsafe-inline'
            'self'
            ;

          style-src
            'unsafe-inline'
            'self'
            ;

          font-src 
            'unsafe-inline'
            'self'
            ;

          connect-src
            ;" 
        />
      </customHeaders>
    </httpProtocol>
    <httpRedirect enabled="false" destination="" exactDestination="true" />
  </system.webServer>
  <system.web>
    <httpCookies httpOnlyCookies="true" />
  </system.web>
</configuration>
